<!-- base.html -->
<!DOCTYPE>
<html>
<head>
    <meta charset='utf-8'>
    <title>
        {% block title %} {% endblock %}
    </title>
    {% include 'header.html' %}
    {%load static%}

</head>
<body>
    <div class='container-fluid'>
        <div class="well post_title">
            <div class="row">
                <div class="col-sm-1">
                    <img width="100" height="100" src="{% static 'img/logo.gif' %}">
                </div>
                <div class="col-sm-2">
                    <h1>文齋</h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% include 'menu.html' %}
            <div class="col-sm-8 col-md-8">
                <div class='panel panel-default'>
                    <div class="panel-heading">
                        {% block headmessage %} {% endblock %}
                    </div>
                    <div class="panel-body">
                        {% block content %} {% endblock %}
                    </div>
                    <div class="panel-footer">
                        {% include 'footer.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
