<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>{{p.name}}</title>
</head>
<body>
<h2>{{p.name}}</h2>
<hr>
<table width=400 border=1 bgcolor='#ccffcc'>
    <!-- tags = '<tr><td>品項編號</td><td>{}</td></tr>'.format(p.id)
    tags = tags + '<tr><td>品項名稱</td><td>{}</td></tr>'.format(p.name)
    tags = tags + '<tr><td>建議售價</td><td>{}</td></tr>'.format(p.price)
    tags = tags + '<tr><td>庫存數量</td><td>{}</td></tr>'.format(p.qty) -->
    <tr><td>品項編號</td><td>{{p.id}}</td></tr>
    <tr><td>品項名稱</td><td>{{p.name}}</td></tr>
    <tr><td>建議售價</td><td>{{p.price}}</td></tr>
    <tr><td>庫存數量</td><td>{{p.qty}}</td></tr>
</table>
<a href='{% url 'post-url' 2020 12 01 01 %}'>回列表</a><br>

</body>
</html>
