<meta charset='utf-8'>
<title>
    文齋
</title>
<style>
    .post_title {
        font-family: 微軟正黑體;
        font-size: 16pt;
        font-weight: bold;
    }
    
    .post_body {
        font-family: 微軟正黑體;
        font-size: 10pt;
        letter-spacing: 1pt;
        background-color: #ffffdd;
    }
    .post_date {
        background-color: #efefef;
    }
    .inline-headers h1 {
        display: inline-block;
        vertical-align: baseline;
    }
</style>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
